.sidebar{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.dashboard_main{
    margin-top: 20px;
    margin-bottom: 20px;
}
.text a{
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .text{
    text-align: center;
    padding-left: 10px;
  }