.loSidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f4b31a ;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .loSidebarLink {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center;
  }
   
  .loSidebarLink.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .loSidebarLink:hover:not(.active) {
    background-color: #2c6487;
    
    color: white;
  }
  

     
   .loSidebarLogo{
    font-size: 33px;
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
   }


  @media screen and (max-width: 700px) {
    .loSidebar {
      width: 100%;
      height: auto;
      position: relative;
      flex-direction: row;
    }
    .loSidebarLink {float: left;}
   

    .loSidebarLogo{
        font-size: 23px;
        color:white;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
       }
  }
 
 
  
  @media screen and (max-width: 400px) {
    .loSidebar{
        flex-direction: column;
    }
   

    .loSidebarLink{
      text-align: center;
      float: none;
    }

    .loSidebarLogo{
        font-size: 25px;
        color:white;
        text-align: center;
        margin-top: 5px;
        padding-left: 0px;
       }
  }